<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>prj301library.Controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookController</servlet-name>
        <servlet-class>prj301library.Controller.BookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserLoginController</servlet-name>
        <servlet-class>prj301library.Controller.UserLoginController</servlet-class>
    </servlet>
    
    <servlet>
        <servlet-name>UserBookController</servlet-name>
        <servlet-class>prj301library.Controller.UserBookController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DonateController</servlet-name>
        <servlet-class>prj301library.Controller.DonateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDonateController</servlet-name>
        <servlet-class>prj301library.Controller.UserDonateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>prj301library.Controller.UserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookController</servlet-name>
        <url-pattern>/BookController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLoginController</servlet-name>
        <url-pattern>/userlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserLoginController</servlet-name>
        <url-pattern>/UserLoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserBookController</servlet-name>
        <url-pattern>/UserBookController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DonateController</servlet-name>
        <url-pattern>/DonateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDonateController</servlet-name>
        <url-pattern>/UserDonateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/UserController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>userlogin.jsp</welcome-file>
    </welcome-file-list>
</web-app>
